<div class="card">

  <div class="card-header">
    {{ task.title }}
  </div>

  <div class="card-block">
    <p class="card-text">{{task.text}}</p>

    <div align="right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>...</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">edit</button>
          <button class="dropdown-item" (click)="onDelete()">delete</button>
        </div>
      </div>

    </div>

  </div>
</div>
