<div class="ui">
  <nav class="navbar app">App bar</nav>

  <nav class="navbar board">
    <div align="left"><app-task-add></app-task-add></div>
  </nav>

  <div class="lists">
    <div class="list" *ngFor="let category of categories">
      <header>{{category.name}}</header>
      <ul>
        <li *ngFor="let t of category.tasks">
          <app-task [task]="t"></app-task>
        </li>
      </ul>
    </div>
  </div>

</div>

<!--https://www.sitepoint.com/building-trello-layout-css-grid-flexbox/-->
<!--https://codepen.io/SitePoint/pen/brmXRX?editors=0100-->
