<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-new-task-form></app-new-task-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-warning" (click)="open(content)">Add task</button>

