<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup] = "newTaskForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="title">Title:</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="text">Description:</label>
            <input
              type="text"
              id="text"
              formControlName="text"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="status">Task status:</label>
            <select
              id="status"
              formControlName="status"
              class="form-control"
            >

              <option
                *ngFor="let stat of status"
                [value]="stat"
              >{{ stat }}
              </option>
            </select>
          </div>


        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

